body {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 15px;  
    clear: left;  
}

body {
    background: linear-gradient(Black 5%, #D3D3D3 15%, #C0C0C0); 
}


h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

img{
    width: 100%;
    height: 350px;
}

p strong {
    font-weight: bold;
}

p em {
    font-style: italic;
}

h2 h3 p {
    padding: 10px;
}

.foto4 {
    width: 380px;
    float: left;
    margin: 0 20px 20px 0;
}

.foto3 {
    width: 380px;
    float: right;
    margin: 0 20px 20px 0;
}

.foto5 {
    width: 450px;
    float: left;
    margin: 0 20px 20px 0;
}

.pfinal {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
}

.fontes {
    text-align: left;
    font-size: 12px;
    margin: 5px;
}

.footer {
    background: #D3D3D3 ;
    text-align: left;
    font-size: 20px;
}